#content{
}

#content .content-item {
	clear: both;
	width: 90%;
	margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
	padding: 20px;
	overflow: auto;
	border-radius: 15px;
	background: #fff;
	color: #333;
    transition: all 1s ease;
	max-height: 500px;
}

#content .content-item > .hidden {
	max-height: 0;
	overflow: hidden;
}

#content .content-items {
  list-style: none;
}

#content .content-items .content-item {
}


